@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-bg: #d7d7d7;
    --color-white: #f4f4f4;
    --color-lightGray: #d9d9d9;
    --color-darkGray: #252525;
    --color-red: #9e0101;
    --color-contrast: #000000;
    --color-contrast2: #ffffff;
    --settings-bg: rgba(0, 0, 0, .5);
}

.dark-mode {
    --color-bg: #202020;
    --color-white: #252525;
    --color-lightGray: #616161;
    --color-darkGray: #1a1a1a;
    --color-contrast: #ffffff;
    --color-contrast2: #000000;
    --settings-bg: rgba(0, 0, 0, .7);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

body {
    background-color: var(--color-bg);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: -40px;
}

/* Styling the Cat */
.cat {
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    transform: scale(.45);
    transition: transform .2s ease;
}

.ellipse-fit {
    background-color: inherit;
    height: 289px;
    width: 365px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
}

#CatFace {
    transform: translate(-22.5%, -17%);
    cursor: pointer;
    transition: none;
}

#Eyes {
    transform: scaleY(1);
    transform-box: content-box;
    transform-origin: center;
}

#ears {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: -1;
    transition: none;
}
/* End of styling the Cat */

/* Styling the Calculator */
.calculator-base {
    background-color: var(--color-lightGray);
    border-radius: 28px;
    border: 10px solid #f4f4f4;
    /* box-shadow: 0px 10px 10px .5px rgba(0, 0, 0, .2); */
    margin-top: 185px;
    margin-bottom: 5px;
    transition: all .2s ease;
    display: grid;
    justify-content: center;
    align-content: center;
}

.screen {
    height: 83px;
    width: 228px;
    margin: 13px auto 13px auto;
    background-color: var(--color-white);
    box-shadow: inset 0px 3px 7px 0.1px rgba(0, 0, 0, .4);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    grid-area: screen;
}

.screen input {
    width: 100%;
    padding: 0% 5%;
    border: none;
    box-sizing: border-box;
    background-color: #ec303000;
    text-align: right;
    color: var(--color-contrast);
    pointer-events: none;
}

.screen input.atualScreen {
    padding: 0%;
    margin: -20px 10px 0px 5px;
    text-indent: 0px;
    font-size: 35px;
    font-weight: 600;
}

.previousScreen {
    margin: 5px 5px 0px 5px;
    font-size: 15px;
    font-weight: 600;
}

button {
    height: 50px;
    width: 55px;
    font-size: 25px;
    border: none;
    transition: background-color .2s ease;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, .1);
}

button:active {
    transform: scale(0.95);
}

/* Generical Numerical Buttons style */
.number-buttons {
    align-self: top;
    margin-right: 4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-content: start;
    gap: 3px;
    grid-area: numb;
}

.number-buttons > button {
    background-color: var(--color-white);
    color: var(--color-contrast);
}

.number-buttons > button:hover {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .2);
}
.number-buttons > button:active {
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, .25);
}

.number-buttons > button:nth-child(10) {
    border-radius: 0px 0px 0px 10px;
}
/* End of Numerical Buttons style */

/* Generical Calculation Buttons style */
.calc-buttons > button {
    background-color: var(--color-darkGray);
    color: #ffffff;
    transition: background-color .2s ease;
}

.calc-buttons > button:hover {
    background-color: #000000be;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .2);
}
.calc-buttons > button:active {
    background-color: #1a1a1a;
    box-shadow: inset 0px 1px 5px 2px rgba(0, 0, 0, .25);
}

.calc-buttons.group1 {
    align-self: top;
    margin-left: 14px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-content: center;
    gap: 3px;
    align-self: center;
    grid-area: cal1;
}

.calc-buttons.group1 > button:first-child {
    background-color: var(--color-red);
    border-radius: 10px 0px 0px 0px;
}
.calc-buttons.group1 > button:last-child {
    border-radius: 0px 10px 0px 0px;
}

.calc-buttons.group2 {
    align-self: top;
    margin-right: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-content: center;
    gap: 3px;
    align-self: top;
    grid-area: cal2;
}

.calc-buttons.group2 > button:last-child {
    background-color: var(--color-red);
    border-radius: 0px 0px 10px 0px;
}

.calc-buttons.group2 > button:last-child:hover,
.calc-buttons.group1 > button:first-child:hover {
    background-color: #700000;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .2);
}

.calc-buttons.group2 > button:last-child:active,
.calc-buttons.group1 > button:first-child:active {
    background-color: #c70000;
    box-shadow: 0px 1px 5px 1px rgba(255, 0, 0, 0.2);
    box-shadow: inset 0px 1px 5px 1px rgb(65, 0, 0);
}

.extra {
    display: none;
}

.calc-buttons.group3 {
    gap: 1px;
    align-self: top;
    justify-self: center;
    grid-area: ext1;
}

.calc-buttons.group4 {
    gap: 1px;
    align-self: top;
    justify-self: center;
    grid-area: ext2;
}
/* End of Calculation Buttons style */
/* End of styling the Calculator */

span.material-symbols-outlined.config {
    z-index: 5;
    float: right;
    color: var(--color-contrast);
    border: solid 3px var(--color-contrast);
    padding: 5px;
    border-radius: 50%;
    background-color: var(--color-lightGray);
    transition: transform,color,background-color .2s ease;
    transition: rotate 1s ease-in-out;
}

span.backspace {
    margin: 7px 2px 0px 0px;
    font-size: 30px;
}

#settings {
    font-size: 35px;
    margin: 15px;
    cursor: pointer;
    position: absolute;
}

#rotate {
    display: none;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: -25px;
    cursor: pointer;
}

#settings:hover, #rotate:hover {
    transform: scale(1.1);
    rotate: 180deg;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .2);
}

#settings:active, #rotate:active {
    background-color: var(--color-contrast);
    color: var(--color-contrast2);
}

.settings-menu-bg {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--settings-bg);
    height: 100%;
    width: 100%;
    transform-origin: center;
    animation: appear-bg 1s ease;
}

.settings-menu {
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    padding: 35px 25px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, .3);
    text-align: center;
    animation: appear-settings 1s ease;
}

.settings-menu h3 {
    color: var(--color-contrast);
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

.line {
    width: 100%;
    height: 0.5px;
    margin: 10px 0px 15px 0px;
    background-color: var(--color-contrast);
}

.settings-menu label {
    color: var(--color-contrast);
    font-size: 15px;
    font-weight: 500;
}

.settings-menu input {
    height: 15px;
    width: 15px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    background-color: var(--color-contrast);
}

.settings-menu.active, .settings-menu-bg.active{
    display: block;
}

.rotate-input {
    display: none;
}

/* Why do software developers prefer the dark? Because the light attracts bugs! */


/* Styles for mobile devices in portrait*/
@media screen and (orientation: portrait) {
    
    .calculator-base {
        height: 390px;
        width: 255px;    
        grid-template-columns: 63px 63px 63px 63px;
        grid-template-rows: 112px 56px 224px;
        grid-template-areas: 
        "screen screen screen screen"
        "cal1 cal1 cal1 cal1"
        "numb numb numb cal2"; 
    }

    #settings {
        font-size: 28px;
        border: solid 2px var(--color-contrast);
    }

    #rotate {
        font-size: 28px;
        border: solid 2px var(--color-contrast);
        display: none;
    }

    @media screen and (max-height: 590px) {
        .container {
            padding-top: 50px;
        }
    }
}

/* Styles for mobile devices in LANDSCAPE*/
@media screen and (orientation: landscape) {

    html::-webkit-scrollbar { 
        display: none;
    }

    .container {
        padding: 50px 0px;
    }
    
    .cat {
        transform: scale(.4);
    }

    .calculator-base {
        height: 180px;
        width: 550px;
        margin-top: 180px;
        grid-template-columns: repeat(10, 55px);
        grid-template-rows: repeat(4, 45px);
        grid-template-areas: 
        "ext1 ext2 screen screen screen screen screen screen cal1 cal2"
        "ext1 ext2 screen screen screen screen screen screen cal1 cal2"
        "ext1 ext2 numb numb numb numb numb numb cal1 cal2"
        "ext1 ext2 numb numb numb numb numb numb cal1 cal2";
    }

    .screen {
        height: 73px; /* 1,2 de proporção */
        width: 301px; /* 1,02 de proporção */
        margin-top: 8px;
    }

    button {
        height: 41.6px;
        width: 49px;
        font-size: 20px;
    }

    .number-buttons {
        margin: -2px 0px 0px 0px;
        flex-flow: row wrap;
        justify-content: center;
        align-content: top;
    }

    .number-buttons > button:nth-child(10) {
        border-radius: 0px;
    }
    
    .number-buttons > button:nth-child(10) {
        border-radius: 0px 0px 0px 0px;
    }

    .calc-buttons.group1 {
        margin: 0px 0px 0px 3px;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        gap: 1px;
    }

    .calc-buttons.group1 > button:first-child {
        border-radius: 0px 0px 0px 0px;
    }
    .calc-buttons.group1 > button:last-child {
        border-radius: 0px 0px 0px 0px;
    }

    .calc-buttons.group2{
        margin: 0px 5px 0px 0px;
        flex-flow: row wrap;
        justify-content: left;
        align-content: center;
        gap: 1px;
    }

    .calc-buttons.group2 > button:first-child {
        border-radius: 0px 10px 0px 0px;
    }

    .extra {
        display: flex;
    }

    .calc-buttons.group3 {
        margin: 0px 0px 0px 3px;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

    .calc-buttons.group3 > button:first-child {
        border-radius: 10px 0px 0px 0px;
    }
    .calc-buttons.group3 > button:last-child {
        border-radius: 0px 0px 0px 10px;
    }

    .calc-buttons.group4{
        margin: 0px 5px 0px 0px;
        flex-flow: row wrap;
        justify-content: left;
        align-content: center;
    }

    #settings {
        font-size: 30px;
        border: solid 2.5px var(--color-contrast);
    }

    #rotate {
        font-size: 30px;
        border: solid 2.5px var(--color-contrast);
        display: none;
    }
}

/* ANIMATIONS */
@keyframes appear-bg {
    0% {
        transform:scale(0%, 0%);
    }
    10% {
        transform:scale(50%, 1%);
    }
    20% {
        transform:scale(100%, 5%);
    }
    90%, 100% {
        transform:scale(100%, 100%);
    }
}

@keyframes appear-settings {
    0%, 5% {
        transform: translate(-50%, -70%);
        opacity: 5%;
    }
    15% {
        opacity: 70%;
    }
    50%, 100% {
        opacity: 100%;
    }
}

/*Sete Cat ANIMATIONS*/
@keyframes blink {
    0%, 40% {
        transform: scaleY(1);
    }
    5% {
        transform: scaleY(0.3);
    }
    10%, 20% {
        transform: scaleY(0.1);
    }
}

.blink--anim {
    animation: blink 11.5s infinite;
}

@keyframes tapFace {
    0% {
        transform: translate(-22%, -25%);
    }
    2.5% {
        transform: translate(-22%, -32%);
    }
    15% {
        transform: translate(-22%, -31%);
    }
    23%, 36%, 48%, 60% {
        transform: translate(-22%, -22%);
    }
    24%, 52% {
        transform: translate(-19%, -22%);
    }
    32% {
        transform: translate(-16%, -22%);
    }
    40%, 56% {
        transform: translate(-25%, -22%);
    }
    44% {
        transform: translate(-28%, -22%);
    }
}

.tap-face--anim {
    animation: tapFace 1.5s ease-in-out;
}

@keyframes tapEars {
    0% {
        transform: translate(-50%, -25%);
    }
    2.5% {
        transform: translate(-50%, -32%);
    }
    15% {
        transform: translate(-50%, -31%);
    }
    23%, 36%, 48%, 60% {
        transform: translate(-50%, -22%);
    }
    24%, 52% {
        transform: translate(-45%, -22%);
    }
    32% {
        transform: translate(-49%, -22%);
    }
    40%, 56% {
        transform: translate(-52%, -22%);
    }
    44% {
        transform: translate(-54%, -22%);
    }
}

.tap-ears--anim {
    animation: tapEars 1.5s ease;
}

@keyframes tapBlink {
    0%, 15% {
        transform: scaleY(1);
    }
    1.5%, 24%, 62% {
        transform: scaleY(0.3);
    }
    2.5%, 25%, 60% {
        transform: scaleY(0.1);
    }
}

.tap-blink--anim {
    animation: tapBlink 1.5s ease-in-out;
}